@import 'style/utils';

.app {
  text-align: center;
}

.header {
  display: inline-block;
  font-size: 32px;
}

.appHeader {
  background-color: #282c34;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(16px);
  color: white;
}

.table {
  border: 1px solid black;
}

.logOutButton {
  display: inline-block;
  justify-self: flex-end;
  color: red;
  border: none;
  padding: 16px 8px;
}
